.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 50px;

  font-size: 16px;
  word-break: break-all;

  @media (max-width: 765px) {
    flex-direction: column;
  }

  button {
    border-radius: 50%;
    height: 30px;
    cursor: pointer;
    outline: none;
    border: none;

    @media (max-width: 1040px) {
      margin: 20px 0;
    }
  }
}

.reversed {}