body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(115, 156, 180);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(197, 255, 104);
}

